.navheader-navbar {
  width: 100%;

  background: #cd081d;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navHeader-navList {
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 50%;
}

a {
  text-decoration: none;
}
