.products-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 350px;
  gap: 1.2rem;

  width: 100%;

  color: white;

  margin-top: 12.5px;
}

.product-btn {
  background: #b40d0d;
  color: white;

  border: none;
  border-radius: 0.5rem;

  padding: 0.5rem 1.2rem;
}

.content-container > article {
  text-align: center;
  font-size: 1.1rem;

  border-radius: 0.75rem;
}

.products-img-container {
  width: 100%;
  height: 15rem;
}

.products-img-container > img {
  width: 100%;
  height: 100%;

  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
}

.products-warning {
  padding: 0;
  margin: 0;
}

.products-big-img-container {
  height: 400px;
  width: 100vw;

  margin-left: calc(-20vw);
}

.products-big-img-container > img {
  width: inherit;
  height: inherit;

  /* -webkit-box-shadow: 16px 19px 4px -14px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 16px 19px 4px -14px rgba(0, 0, 0, 0.56);
  box-shadow: 16px 19px 4px -14px rgba(0, 0, 0, 0.56); */
}

.content-article {
  /* background: #ca021c; */

  text-align: center;
  font-size: 1.4rem;

  border-radius: 22.5px;
}

.content-article > button {
  font-size: 1.1rem;

  border-top: rgb(182, 141, 141) 2px solid;

  margin-top: -0.9rem;

  box-shadow: 1px 9px 5px -5px rgba(0, 0, 0, 0.49);
  -webkit-box-shadow: 1px 9px 5px -5px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 1px 9px 5px -5px rgba(0, 0, 0, 0.49);
}

.article-content-container > * {
  padding: 0.25rem 0;
}

.content-article-top {
  background: #ca021c;
  border-radius: 22.5px;
}
