.footer-container {
  display: flex;
  justify-content: center;

  background: #312d32;

  color: white;

  padding: 1rem 0;

  margin-top: 2rem;
}

.footer-partners {
  font-size: 2rem;
  font-weight: 300;
}

.footer-container-center {
  width: 90%;

  display: flex;
  justify-content: space-between;
}

.footer-links {
  font-size: 1.75rem;
}

.footer-links > * {
  padding: 1rem;
}

.footer-partners {
  text-align: center;
}

.footer-partners-img {
  display: flex;
  align-items: center;
}

.footer-reach {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-reach-sites {
  font-size: 1.65rem;
}

.footer-reach-description {
  font-size: 1.75rem;
}

.footer-reach > * {
  margin: 0.5rem;
}

.footer-reach > input {
  height: 1.9rem;
}

.footer-reach > button {
  height: 1.9rem;

  font-size: 1.25rem;
  color: white;

  border-radius: 5px;
  border: none;

  background: #ca021c;
}

.footer-reach-sites {
  display: flex;
  justify-content: center;

  font-size: 2rem;
}

.footer-reach-sites > * {
  padding: 1rem 0.5rem;
}
